:root { 
  --beeswax: #fff3c7;
  --black: #000000;
  --celeste: #cecece;
  --old-lace: #fbf7ea;
  --white: #ffffff;
  --woodsmoke: #0f0e0d;
 
  --font-size-l: 18px;
  --font-size-l3: 24px;
  --font-size-m: 16px;
  --font-size-xxl3: 32px;
  --font-size-xxs2: 13px;
  --font-size-xxxl: 56px;
 
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-poppinssemibold-regular: "PoppinsSemiBold-Regular", Helvetica;
}
