.image-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 2.0px;
  margin-top: 58px;
  min-height: 470px;
  position: relative;
  width: 346px;
}

.title {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 36px;
  min-height: 24px;
  min-width: 152px;
  text-align: center;
  white-space: nowrap;
}

.desc {
  height: 77px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 16px;
  text-align: center;
  width: 346px;
}

