/* COVER SECTION */
.cover-container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.cover-container > h1 {
    color: white;
    font-size: 100px;
}
.cover-container > p {
    margin-top: 8px;
    color: white;
    font-size: 32px;
}
@media only screen and (max-width: 960px) {
    .cover-container > h1 {
        font-size: 70px;
        text-align: center;
    }
    .cover-container > p {
        text-align: center;
        font-size: 22px;
        width: 85%;
    }
}


/* ABOUT SECTION */
.about-container{
    display:flex;
    background-color: #fff;
    color: #000;
    height: 70vh;
    padding: 100px 0 100px 0;
}
.about-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0 100px 0 100px;
}
.about-container > h3 {
    margin-bottom: 30px;
    font-size: 28px;
}
.about-desc > p {
    line-height: 1.5;
}
.about-img {
    width: 45%;
    display: flex;
    align-self: center;
}
@media only screen and (max-width: 960px) {
    .about-container{
        flex-direction: column;
        padding: 0;
        height: auto;
    }
    .about-desc{
        width: 90%;
        margin: 0 auto;
        padding: 40px 20px 50px 20px;
    }
    .about-desc > h3{
        font-size: 20px;
        text-align: center;
    }
    .about-img{
        width: 100%;
        margin-bottom: 50px;
    }
    .about-img > img{
        width: 100%;
    }
}


/* INFO SECTION */

.info-container{
    width: 100%;
    height: 300px;
    background-color: #fff;
    color: #000;
    margin-bottom: 100vh;
}
.info {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100%;
}
@media only screen and (max-width: 960px) {
    .info-container{
        height: 200px;
        width: 100%;
    }
    .info > h1{
        font-size: 20px;
        text-align: center;
    }
}

